.main-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 100px;
}
.books-container{
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
}
.book-collection{
  width: 100%;
}
.space-between{
  width: 40px;
}
span {
  cursor: pointer;
  color: #1976d2;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .books-container {
    flex-direction: column;
  }
  .space-between{
    height: 20px;
  }
}